﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿﻿<!-- dash board -->
<mp-panel>
<div class="col-md-2 container max-height">
	<div class="max-height row">
		<div class="panel panel-primary" style="margin:0px;">
			<div class="panel-heading">Continent</div>
			<div class="panel-body">
				<div class="list-group">
				  <a href="#" ng-repeat="continent in $mapCtrl.continents" class="list-group-item" ng-class="{ active: ($mapCtrl.selectedContinentId===continent.id)}" ng-click="$mapCtrl.changeContinent(continent.id)">
				  {{::continent.name}}</a>
				</div>
			</div>
		</div>
		<div class="panel panel-primary" mp-tracker>
			<div class="panel-heading">マーカ登録</div>
			<div class="panel-body">
				<p>テスト用のためクリックしたら勝手に登録される。</p>
				<button class="btn btn-default" ng-click="$mapCtrl.update()">Update</button>
			</div>
		</div>
	</div>
</div>  
</mp-panel>
<div class="col-md-10 max-height">
	<mp-map on-click="$mapCtrl.onClickMap( event )">
		<mp-tile url-template="$mapCtrl.urlTemplate" tile-size="256"  register-api="$mapCtrl.registerTileApi( api )"></mp-tile>
		<mp-marker ng-repeat="marker in $mapCtrl.cortiums" lat="marker.lat" lng="marker.lng">
	</mp-map>
</div>
<!--
左のパネル
<mp-pane>
表示設定
Cortium
Sunderer

情報登録
Cortium登録
Sunderer

リアルタイム情報
>

お気に入り登録

[マップ選択]
http://getbootstrap.com/customize/ -->