﻿﻿﻿﻿﻿﻿<!-- dash board -->
<mp-panel>
	<div class="col-md-2 container max-height">
		<div class="max-height row">
			<div class="panel panel-primary">
				<div class="panel-heading">マーカ登録</div>
				<div class="panel-body">
					<button class="btn btn-default" ng-click="$mapCtrl.update()">Update</button>
					<select ng-model="selectedContinent" ng-options="continent.id as continent.name for continent in $mapCtrl.continents"></select>
				</div>
			</div>
		</div>
	</div>
</mp-panel>
<div class="col-md-10 max-height">
	<mp-map on-click="$mapCtrl.onClickMap(event)">
	<mp-tile url-template="$mapCtrl.urlTemplate" tile-size="256"  register-callback="$mapCtrl.tileCallback( callback )"></mp-tile>
		<mp-marker ng-repeat="marker in $mapCtrl.cortiums" lat="marker.lat" lng="marker.lng">
	</mp-map>
</div>
<!--
左のパネル
<mp-pane>
表示設定
Cortium
Sunderer

情報登録
Cortium登録
Sunderer

リアルタイム情報
>

お気に入り登録

[マップ選択]
http://getbootstrap.com/customize/ -->